In [1]:
#librerias 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [2]:
#Leemos el Dataset
df = pd.read_csv('../data/bank-additional-full.csv',sep = ';')

In [3]:
#data preprocesing
df=pd.get_dummies(data=df, drop_first=True)

#feature split in indepent and target
X = df.loc[:,df.columns != 'y_yes']
y = df.loc[:,'y_yes']

#split train and test group's
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25, random_state=12)

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
from sklearn.metrics import accuracy_score

In [24]:
df[df['duration'] > 1000 ]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,age_group
37,52,technician,married,basic.9y,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,50 - 60
75,41,blue-collar,divorced,basic.4y,unknown,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,yes,40 - 50
83,49,entrepreneur,married,university.degree,unknown,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,yes,40 - 50
88,49,technician,married,basic.9y,no,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,yes,40 - 50
164,39,services,divorced,high.school,unknown,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,30 -40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40970,24,admin.,single,university.degree,no,yes,no,cellular,oct,fri,...,3,2,success,-1.1,94.601,-49.5,0.993,4963.6,yes,15-30
41009,24,blue-collar,single,high.school,no,no,no,cellular,oct,thu,...,3,1,success,-1.1,94.601,-49.5,1.025,4963.6,yes,15-30
41121,46,admin.,single,university.degree,no,yes,no,cellular,nov,tue,...,999,1,failure,-1.1,94.767,-50.8,1.046,4963.6,no,40 - 50
41123,36,blue-collar,single,basic.6y,no,no,no,cellular,nov,tue,...,999,0,nonexistent,-1.1,94.767,-50.8,1.046,4963.6,yes,30 -40
41164,54,admin.,married,professional.course,no,no,no,cellular,nov,tue,...,10,1,success,-1.1,94.767,-50.8,1.035,4963.6,yes,50 - 60

In [8]:
#============================RandomForest====================================#
model_rf = RandomForestClassifier(n_estimators = 200, random_state = 12)
model_rf.fit(X_train,y_train)
y_pred = model_rf.predict(X_test)
acc=accuracy_score(y_test,y_pred)
print('Accuracy Randomforest Classifier:',acc)

NameError: name 'accuracy_score' is not defined

Accuracy Randomforest Classifier: 0.9131785957074876

In [7]:
def model_ensable(X_train,X_test,y_train,y_test):
    '''
    trains 3 models and returns both the functioning 
    model and the precision Score
    
    inputs:
        x_train: feature
        y_train: target
        x_test: feature
        y_test: target 
    return:
        model -> RandomForest
        model -> XGBoost
        model -> KNeighbors
    '''
    
    #============================RandomForest====================================#
    model_rf = RandomForestClassifier(n_estimators = 200, random_state = 12)
    model_rf.fit(X_train,y_train)
    y_pred = model_rf.predict(X_test)
    acc=accuracy_score(y_test,y_pred)
    print('Accuracy Randomforest Classifier:',acc)
    
    #============================XGBoost====================================#
    model_xgb = XGBClassifier()
    model_xgb.fit(X_train, y_train)
    y_pred = model_xgb.predict(X_test)
    acc_xgb=accuracy_score(y_test,y_pred)
    print('Accuracy XGB boost:',acc_xgb)
    
    #============================KNeighbors====================================#
    model_knn = KNeighborsClassifier()
    model_knn.fit(X_train,y_train)
    y_pred = model_knn.predict(X_test)
    acc=accuracy_score(y_test,y_pred)
    print('Accuracy KNeighborsClassifier:',acc)
    
    return model_rf, model_xgb, model_knn